.lt-nav li {
    float: left;
    width: 33.33%;
}

.lt-nav img {
    width: 100%;
    height: 100%;
}

.lt-product {
    padding: 10px;
}
.lt-product .item {
    float: left;
    width: 48%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}


/* 给奇数的margin-right 4% */

.lt-product .item:nth-child(odd) {
    margin-right: 4%;
}

.lt-product img {
    width: 100%;
    height: 100%;
}

.lt-product p {
    text-align: center;
}

.lt-product button {
    display: block;
    margin: 0 auto;
}

.lt-product .price {
    color: red;
}

.lt-product .oldPrice {
    text-decoration: line-through;
}